body {
	margin: 6px;
	background-color: #0038E1;
}
.awal {
	background-color: #3366FF;
}
p, div {
  font-family      : Verdana, Arial, Helvetica, sans-serif;
  font-size        : 12px;
  color            : #333333;
}
h1 {
  font-family      : Verdana, Helvetica, Arial, sans-serif;
  font-size        : 12px;
  font-weight	   : bold;
  color            : darkblue;
}
h2 {
  font-family      : Verdana, Helvetica, Arial, sans-serif;
  font-size        : 10px;
  font-weight	   : bold;
  color            : blue;
}
h3.blue {
  font-family      : Verdana, Helvetica, Arial, sans-serif;
  font-size        : 9px;
  color            : #CCFFFF;
}
h3.yellow {
  font-family      : Verdana, Helvetica, Arial, sans-serif;
  font-size        : 9px;
  color            : yellow;
}
small {
  font-family      : Verdana, Helvetica, Arial, sans-serif;
  font-size        : 8px;
  font-weight      : bold;
  color            : black;
}
hr {
  background       : #999999;
  height           : 1px;
  width            : 80%;
}

table.title {
  background-color : #6A8FFF;
}
table.isi {
  background-color : #cce6ff;
}
table.ln {
  background-color : #0038E1;
}
table.ln2 {
  background-color : #FFFF99;
}
table.lap {
  background-color : #2259FF;
}
table.login {
  background-color : #ebebeb;
}
tr {
  font-family      : Verdana, Arial, Helvetica, sans-serif;
  font-size        : 10px;
}

td.isi1 {
  font-size        : 10px;
  background-color : #CCFFFF;
  text-align       : left;
}
td.isi1a {
  font-size        : 10px;
  background-color : #CBD2EE;
  text-align       : left;
}
td.isi2 {
  font-size        : 10px;
  background-color : #FFFF99;
  text-align       : center;
}
td.isi2a {
  font-size        : 10px;
  background-color : #FFFFcc;
  text-align       : center;
}
td.isi2b {
  font-size        : 10px;
  background-color : #CCFFFF;
  text-align       : center;
}
td.isi3 {
  font-size        : 10px;
  background-color : #99ccff;
  text-align       : right;
}
td.isi3a {
  font-size        : 10px;
  background-color : #CCFFCC;
  text-align       : right;
}
td.isi9 {
  font-size        : 10px;
  background-color : #FF9900;
  text-align       : left;
}
td.isi9a {
  color            : white;
  font-size        : 10px;
  background-color : #FF9900;
  text-align       : center;
}
td.isi9b {
  color            : white;
  font-size        : 10px;
  background-color : #FF9900;
  text-align       : right;
}
td.ki {
  color            : yellow;
  font-size        : 10px;
  background-color : #2259FF;
  text-align       : left;
}
td.ki1 {
  color            : darkblue;
  font-size        : 10px;
  background-color : #CAE7F4;
  text-align       : left;
}
td.ki2 {
  font-size        : 10px;
  background-color : #6A8FFF;
  text-align       : left;
}
td.tg {
  font-size        : 10px;
  background-color : #ffffcc;
  text-align       : center;
}
td.tg0 {
  color            : yellow;
  font-size        : 10px;
  background-color : #6a8fff;
  text-align       : center;
}
td.tg1 {
  color            : darkblue;
  font-size        : 10px;
  background-color : #B3B3FF;
  text-align       : center;
}
td.tg2 {
  font-size        : 10px;
  background-color : #6a8fff;
  text-align       : center;
}
td.tg3 {
  font-size        : 10px;
  background-color : #0038E1;
  text-align       : center;
}

.subtitle {
font-family: sans-serif;
font-size: 11px;
font-weight: bold;
color : blue;
text-transform: uppercase;
letter-spacing: 2px;
margin-left: 20px;
}

#active_menu {
  color: #000000;
}

a.mainmenu:link, a.mainmenu:visited {
color: yellow;
font-family: Verdana, Helvetica, Arial, sans-serif;
font-weight: bold;
font-size  : 10px;

}
a.mainmenu:hover {
color: red;
}

.button {
  font-family      : Verdana, Arial, Helvetica, sans-serif;
  font-style       : normal;
  font-size        : 10px;
  font-weight      : bold;
  background-color : #0038e1;
  color            : #FFFF00;
  border           : 1px solid #CCCCCC;
}

.inputbox {
  font-family      : Verdana, Arial, Helvetica, sans-serif;
  font-size        : 12px;
  color            : #000000;
  background-color : #EAF4FF;
  border           : 0px #CCFFFF;
}

a:link, a:visited {
color: #000080;
text-decoration: none;
}

a:hover {
color: #FFFFFF;
text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  line-height: 15px;
  padding-left: 10px;
  padding-top: 0px;
  background-image: url(../images/arrow.png) ;
  background-repeat: no-repeat;
  background-position: 0px 3px;
}

form {
/* removes space below form elements */
	margin: 5;
 	padding: 0;
}